
.atras {
    padding: 6px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
    z-index: 999;
  }
  
  .atras:hover {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .todo {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 900px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    transform: scale(1.1);
  }
  
  .puntos-img {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
  
  .puntos-img img {
    width: 100%;
    object-fit: cover;
    background-position: center center;
  }
  
  .puntos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1216e9;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
  }
  
  .puntos img {
    width: 50px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .titulo-desc h2{
    font-size: 28px;
  }
  
  .titulo-desc {
    text-align: center;
  }
  
  .falta {
    text-align: center;
  }
  
  .btn-reclamar {
    border: 2px solid #1216e9;
    text-align: center;
    padding: 4px;
    border-radius: 20px;
    margin: 20px;
    margin-top: 50px;
    cursor: pointer;
    transition: .4s ease-in-out;
  }
  
  .btn-reclamar:hover {
    background-color: #1216e9;
    transform: scale(1.1);
  }