.container-juegos {
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.paginacion {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  
  .paginacion a {
    padding: 8px 14px;
    box-sizing: border-box;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: 0.3s ease;
  }
  
  .paginacion a:hover {
    background-color: #eee;
  }