main {
  margin-left: 260px;
}

/* cards */
.container {
  display: grid;
  place-items: center;
  min-height: 800px;
  grid-template-columns: repeat(3, 1fr);
  border: solid black;
}

.eliminar-card {
  position: absolute;
  background-color: red;
  width: 42px;
  height: 42px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.card {
  transform: scale(0.8);
  border:1px solid #ccc;
  min-width: 300px;
  padding: 20px;
}

.gallery .card {
  width: 100px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.card-img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 300px;
  position: relative;
  margin-top: -10px;
}

.card-titulo {
  border: none;
  background: none;
  cursor: pointer;
}
